<section class="pending-courses">
  <h3>Cursos pendientes</h3>

  <div class="course-list">
    @for (course of pendingCourses; track course.id) {
      <div
        class="course-card"
        (click)="selectCourse(course)"
        [class.active]="course === selectedCourse"
      >
        <h4>{{ course.title }}</h4>
        <p>{{ course.description }}</p>

        @if (!course.examPassed) {
          <span class="badge warning">Evaluación pendiente</span>
        }

        @if (course.examPassed) {
          <span class="badge success">Aprobado</span>
        }
      </div>
    }
  </div>

  @if (selectedCourse) {
    <div class="course-detail">

      <h4>{{ selectedCourse.title }}</h4>

    
  <div class="video-wrapper">
    <iframe
      [src]="selectedCourse.videoUrl | safeUrl"
      allowfullscreen>
    </iframe>
  </div>

      @if (!selectedCourse.examPassed) {
        <a
          class="exam-btn"
          [href]="selectedCourse.examUrl"
          target="_blank">
          Presentar evaluación
        </a>
      }

      @if (selectedCourse.examPassed) {
        <p class="success-text">Curso aprobado</p>
      }

    </div>
  }

</section>
