<div class="home-container">
  <main class="home-main">
    <section class="media-section">
      <h2>¡Bienvenido a la Intranet ProScience!</h2>

      <div class="carousel">

        <div class="field-carousel" *ngFor="let field of fields; let i = index" [class.active]="i === currentIndex">
          <h3 class="subTitle">{{field.title}}</h3>

          <img *ngIf="field.type === 'image'" [src]="field.src" class="media" />

          <video class="media" *ngIf="field.type === 'video'" [src]="field.src" controls></video>

          <a [href]="field.description" target="_blank" *ngIf="field.description">Formulario</a>
        </div>
      </div>
    </section>
  </main>
  <aside class="home-right">
    <app-home-right></app-home-right>
  </aside>
</div>